@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 d-flex justify-content-center">
            <h3>TCR Luminis Health Payments (InstaMed)</h3>
          
           @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
